.wcl-footer {
    padding-top: 91px;
    padding-bottom: 52px;
    background-color: #214752;
    color: #F5F2F0;

    a {
        color: #F5F2F0;
        text-decoration: none;
    }

    .data {
        &-container {
            max-width: 1710px;
            position: relative;
            left: 7px;
        }

        &-row {
            display: flex;
            margin: 0 -25px;
        }

        &-col {
            width: 33.33%;
            padding: 0 25px;

            &:first-child {
                width: 25%;
            }

            &:nth-child(2) {
                width: 75%;
            }
        }

        &-logo {
            max-width: 205px;
            margin-bottom: 1px;
            margin-top: -12px;
            position: relative;
            left: -23px;
            margin-bottom: -4px;
        }

        &-social {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -4px;
            row-gap: 7px;
            margin-bottom: 138px;
            position: relative;
            left: -15px;

            &-item {
                padding: 0 4px;

                &-inner {
                    width: 25px;
                    height: 25px;
                    border-radius: 100px;
                    border: 2px solid #F5F2F0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    &:hover {
                        border-color: $c-orange;

                        span {
                            &::before {
                                color: $c-orange;
                            }
                        }
                    }

                    >span {
                        display: block;
                        line-height: 1;
                    }

                    span {
                        font-size: 8px;

                        &.icon-twitter {
                            font-size: 8px;
                            margin-top: 1px;
                        }

                        &::before {
                            color: #F5F2F0;
                            transition: all 0.25s ease;
                        }
                    }
                }
            }
        }

        &-copyright {
            font-size: 12px;
            font-weight: 500;
            line-height: 16.5px;
            max-width: 145px;
        }

        &-widget {
            >div {
                align-items: flex-start;
                column-gap: 20px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .wp-block-column {
                &:nth-child(1) {
                    margin-right: 8.3%;
                }

                &:nth-child(2) {
                    margin-right: 0.2%;
                }

                &:nth-child(3) {
                    padding-top: 42px;
                    margin-right: 4.9%;
                }

                &:nth-child(4) {
                    margin-right: 9.9%;
                }
            }

            .widgettitle {
                font-family: $f-moranga;
                font-size: 18px;
                font-weight: 400;
                line-height: 20.7px;
                margin-bottom: 22px;
            }

            .menu {
                padding: 0;
                margin-bottom: 0;

                li {
                    list-style: none;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 172.5%;
                    margin-bottom: 1px;
                }
            }

            .menu-footer-services-container {
                .menu {
                    li {
                        margin-bottom: 0.9px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        &-a {
            padding-top: 35px;
            margin-top: 25px;
            border-top: 1px solid #F5F2F0;

            &-row {
                display: flex;
                margin: 0 -25px;
            }

            &-col {
                width: 25%;
                padding: 0 25px;

                &:nth-child(1) {
                    position: relative;
                    top: 10px;
                }

                &:nth-child(2) {
                    width: 50%;
                    text-align: center;
                    position: relative;
                    left: -52px;

                    .data-b1 {

                        &-text {
                            max-width: unset;
                            color: #F5F2F0;
                            font-size: 21px;
                            font-weight: 500;
                            line-height: 137.5%;
                            margin-left: auto;
                        }

                        &-btn {
                            position: relative;
                            left: -6px;

                            a {
                                max-width: 471px;
                                width: 100%;
                            }
                        }
                    }
                }


                &:nth-child(3) {
                    .data-b1 {
                        padding-right: 8px;
                        text-align: right;

                        &-text {
                            margin-left: auto;
                            max-width: 320px;
                        }

                        &-btn {
                            a {
                                padding: 5px 28px;
                            }
                        }
                    }
                }
            }
        }

        &-b1 {
            &-title {
                font-family: $f-moranga;
                font-size: 18px;
                font-weight: 400;
                line-height: 115%;
                margin-bottom: 15px;

                &.mod-mobile {
                    display: none;
                }
            }

            &-a {
                display: flex;
                align-items: center;
                column-gap: 24px;

                &-item {
                    font-size: 16px;
                    font-weight: 500;

                    a {
                        color: $c-white;
                    }

                    .wcl-button {
                        height: 42px;
                        padding: 5px 20px;
                        border-radius: 5px;
                        font-size: 16px;

                        &:hover {
                            color: $c-orange;
                        }
                    }
                }
            }

            &-text {
                font-size: 16px;
                font-weight: 500;
                line-height: 137.5%;
                margin-bottom: 16px;
                max-width: 270px;
            }

            &-btn {
                a {
                    height: 52px;
                    padding: 5px 16px;
                    border-radius: 5px;
                    color: $c-white;
                    font-size: 16px;

                    &:hover {
                        color: $c-orange;
                    }
                }
            }
        }

        &-sidebar {
            &.mod-two {
                display: none;
            }
        }

        &-b2 {
            display: none;
        }

        &-b3 {
            display: none;
        }
    }


    @media (max-width: 1710px) {
        .data {
            &-row {
                //    flex-wrap: wrap;
                row-gap: 40px;
            }

            &-col {
                &:first-child {
                    width: auto;
                    min-width: 270px;
                }

                &:nth-child(2) {
                    width: 100%;
                }
            }

            &-socila {
                margin-bottom: 40px;
            }

            &-widget {
                >div {
                    justify-content: space-between;
                    //  flex-wrap: wrap;
                }

                .wp-block-column {
                    &:nth-child(1) {
                        margin-right: 40px
                    }

                    &:nth-child(4) {
                        margin-right: 40px;
                    }

                    // &:nth-child(5){
                    //     .menu {
                    //         display: flex;
                    //         column-gap: 30px;
                    //         row-gap: 20px;
                    //         flex-wrap: wrap;
                    //     }
                    // }
                }

                // .menu {
                //     display: flex;
                //     column-gap: 30px;
                //     row-gap: 20px;
                //     flex-wrap: wrap;
                // }
            }
        }
    }

    @media (max-width: 1400px) {
        .data {
            &-widget {
                >div {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin: 0 -10px;
                    column-gap: 0;

                    .wp-block-column {
                        margin-right: 0 !important;
                        width: 33.33%;
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-a {
                &-row {
                    flex-wrap: wrap;
                    row-gap: 40px;
                    justify-content: flex-start;
                    margin: 0 -20px;
                }

                &-col {
                    width: 50% !important;
                    padding: 0 20px;

                    &:nth-child(2) {
                        left: 0;
                    }

                    &:nth-child(3) {
                        .data-b1 {
                            text-align: left;

                            &-text {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    @media (max-width: 1025px) {
        padding-top: 51px;

        .data {
            &-container {
                left: 0;
            }

            &-row {
                flex-wrap: wrap;
                row-gap: 40px;
                flex-direction: column-reverse;
            }

            &-col {
                &:first-child {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;
                    column-gap: 30px;
                    row-gap: 30px;
                    flex-wrap: wrap;
                }
            }

            &-widget {
                >div {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    margin: 0 -10px;
                    column-gap: 0;

                    .wp-block-column {
                        margin-right: 0 !important;
                        width: 33.33%;
                        padding: 0 10px;

                        &:nth-child(3) {
                            display: none;
                        }

                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }

            &-social {
                margin-bottom: 0;
            }

            &-logo {
                display: none;
            }
        }
    }


    @media (max-width: 767px) {
        .data {
            &-row {
                flex-direction: column-reverse;
            }

            &-logo {
                display: none;
            }

            &-widget {
                >div {
                    .wp-block-column {
                        width: 46%;
                    }
                }
            }

            &-a {
                &-row {}

                &-col {
                    width: 100% !important;

                    &:nth-child(2) {
                        .data-b1 {
                            &-text {
                                text-align: left;
                            }

                            &-btn {
                                text-align: left;

                                a {
                                    width: auto;
                                    max-width: unset;
                                    min-width: 155px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        padding-top: 28px;
        padding-bottom: 80px;

        .data {
            &-container {
                padding: 0 24px;
            }

            &-col {
                &:first-child {
                    display: none;
                }
            }

            &-widget {
                >div {
                    row-gap: 18px;

                    .wp-block-column {
                        padding-top: 0 !important;

                        &:nth-child(3) {
                            display: block;
                            width: 100%;

                            .widgettitle {
                                margin-bottom: 13px;
                            }

                            .menu li {
                                line-height: 172.5%;
                                margin-bottom: 0;
                            }
                        }

                        &:nth-child(1) {
                            .widget {
                                padding-right: 20px;
                            }
                        }
                    }
                }

                .widgettitle {
                    margin-bottom: 12px;
                }

                .menu {
                    li {
                        line-height: 137.5%;
                        margin-bottom: 4px;
                    }
                }

                .menu-footer-services-container {
                    .menu {
                        li {
                            margin-bottom: 3px;
                        }
                    }
                }
            }

            &-a {
                margin-top: 28px;
                padding-left: 8px;
                padding-top: 16px;

                &-row {
                    row-gap: 18px;
                }

                &-col {
                    &:nth-child(1) {
                        .data-b1 {
                            &-title {
                                display: none;

                                &.mod-mobile {
                                    display: block;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        .data {
                            &-b1 {
                                &-text {
                                    font-size: 16px;
                                    line-height: 137.5%;
                                    max-width: 300px;
                                    margin-left: 0;

                                    em {
                                        font-style: normal;
                                    }
                                }

                                &-btn {
                                    left: 0;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }

            &-b1 {
                &-title {
                    display: none;

                    &.mod-mobile {
                        display: block;
                    }
                }
            }

            &-b2 {
                margin-top: 34px;
                margin-bottom: 23px;
                display: block;

                &-menu {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 137.5%;
                    border-top: 1px solid $c-white;
                    border-bottom: 1px solid $c-white;
                    padding: 19px 0 16px;
                    margin-bottom: 0;

                    li {
                        display: inline-block;

                        &::after {
                            content: ' · ';
                            margin: 0 4px;
                        }

                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            &-b3 {
                display: flex;
                column-gap: 20px;
                flex-wrap: wrap;
                row-gap: 20px;

                .data-copyright {
                    font-size: 16px;
                    line-height: 160%;
                    min-width: 180px;
                    margin-right: 27px;
                }

                .data-social {
                    margin: 0 -12px;
                    left: 0;

                    &-item {
                        display: none;
                        padding: 0 6px;

                        &:nth-child(1),
                        &:nth-child(2) {
                            display: block;
                        }

                        &-inner {
                            width: 48px;
                            height: 48px;

                            span {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            &-sidebar {
                display: none;

                &.mod-two {
                    display: block;
                }
            }
        }
    }
}