.wcl-block-12 {
    margin-top: 45px;
    padding-bottom: 135px;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: -693px;
        bottom: -520px;
        width: 1650px;
        height: 1650px;
        border-radius: 100%;
        background: radial-gradient(65.79% 65.79% at 60.81% 68.81%, #FF6B61 0%, rgba(255, 255, 255, 0.05) 80%);
        z-index: -1;
    }

    .data {
        &-container {
            max-width: 1360px;
        }

        &-title {
            column-gap: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;
            position: relative;
            left: -15px;

            h2 {
                font-family: $f-moranga;
                font-size: 32px;
                font-weight: 400;
                line-height: 37px;
                text-align: center;
                margin-bottom: 0;

                em {
                    font-weight: 300;
                }
            }

            &-el {
                width: 100%;
                max-width: 245px;
                height: 1px;
                background-color: #0F2E33;

                &:nth-child(3) {
                    position: relative;
                    left: 14px;
                }
            }
        }

        &-text {
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            position: relative;
            left: -11px;
            max-width: 1211px;
            margin: 0 auto;

            p {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }


            code{
                font-size: 23px;
                margin-top: 33px;
                line-height: 115%;
                display: block;
            }
        }

        // &-a{
        //     max-width: 1322px;
        //     position: relative;
        //     left: -18px;
        // }

        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 60px;
            margin: 0 -25px;
            margin-top: 89px;
        }

        &-item {
            width: 33.33%;
            padding: 0 25px;

            &:nth-child(4){
                width: 36%;
            }
            &:nth-child(5){
                width: 36%;
            }

            &-inner {
                display: flex;
            align-items: center;
                column-gap: 28px;
            }

            &-icon {
                width: 86px;
                height: 86px;
                flex-shrink: 0;
                border-radius: 100%;
                background-color: #214752;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;

                span {
                    &.icon-choose-manta-ico-1 {
                        font-size: 50px;
                    }
                }
            }

            &-title {
                h3 {
                    color: #214752;
                    font-size: 22.026px;
                    font-weight: 700;
                    line-height: 115%;
                    margin-bottom: 8px;
                }
            }

            &-text {
                color: #214752;
                font-size: 14.684px;
                font-weight: 500;
                line-height: 137.5%;
            }
        }
    }
}