.wcl-block-1 {
    margin-top: 31px;

    .data {
        &-container {
            max-width: 1192px;
        }

        &-row {
            display: flex;
            align-items: flex-end;
            margin: 0 -25px;
        }

        &-col {
            width: 50%;
            padding: 0 25px;

            &:first-child {
                padding-top: 51px;
                margin-bottom: 101px;
            }
        }

        &-a {
            max-width: 470px;
        }

        &-subhead {
            color: #0F2E33;
            font-size: 21px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 18px;
        }

        &-title {
            >* {
                font-family: $f-moranga;
                color: #214752;
                font-size: 36px;
                font-weight: 400;
                line-height: 41px;
                margin-bottom: 18px;
            }
        }

        &-subtitle {
            >* {
                font-family: $f-red-hat-display;
                font-size: 29px;
                font-weight: 400;
                line-height: 33px;
                color: #214752;
            }
        }

        &-img {
            position: relative;
            left: -15px;
            top: -18px;
            width: 681px;
        }
    }


    @media (max-width: 1500px) {
        .data {
            &-img {
                max-width: 46vw;
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-col {
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 991px) {
        text-align: center;
        margin-top: 16px;

        .data {
            &-container {
                max-width: 660px;
            }

            &-row {
                flex-wrap: wrap;
                row-gap: 31px;
            }

            &-col {
                width: 100%;

                &:first-child {
                    padding-top: 0;
                }
            }

            &-a {
                margin: 0 auto;
            }

            &-img {
                margin: 0 auto;
                left: 0;
                top: 0;
            }

            &-subtitle {
                >* {
                    margin-bottom: 0;
                }
            }
        }
    }


    @media (max-width: 767px) {
        .data {
            &-subhead {
                font-size: 16.704px;
                line-height: 137.5%;
                max-width: 280px;
                margin: 0 auto;
                margin-bottom: 10px;
            }

            &-title {
                >* {
                    font-size: 29.581px;
                    line-height: 115%;
                    margin-bottom: 10px;
                }
            }

            &-subtitle {
                >* {
                    font-size: 24px;
                    line-height: 115%;
                }
            }

            &-img {
                max-width: 318px;
                left: -6px;
            }
        }
    }

    @media (max-width: 575px) {
        text-align: left;

        .data {
            &-subhead {
                margin-left: 0;
            }

            &-title {
                >* {
                    code {
                        margin-top: 4px;
                        margin-bottom: 3px;
                        display: inline-block;
                    }
                }
            }

            &-subtitle {
                >* {
                    margin-left: 4px;
                }
            }
        }
    }
}