.wcl-breadcrumbs {
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 95px;

    a {
        text-decoration: none;
    }

    .data {
        &-separator {
            display: inline-block;
            margin: 0 15px;
        }

        &-current {
            color: $c-orange;
        }
    }
}

.wcl-block-1 {
    margin-top: 31px;

    .data {
        &-container {
            max-width: 1192px;
        }

        &-row {
            display: flex;
            align-items: flex-end;
            margin: 0 -25px;
        }

        &-col {
            width: 50%;
            padding: 0 25px;

            &:first-child {
                padding-top: 51px;
                margin-bottom: 101px;
            }
        }

        &-a{
            max-width: 470px;
        }

        &-subhead {
            color: #0F2E33;
            font-size: 21px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 18px;
        }

        &-title {
            h1 {
                font-family: $f-moranga;
                color: #214752;
                font-size: 36px;
                font-weight: 400;
                line-height: 41px;
                margin-bottom: 18px;
            }
        }

        &-subtitle {
            h2 {
                font-family: $f-red-hat-display;
                font-size: 29px;
                font-weight: 400;
                line-height: 33px;
                color: #214752;
            }
        }

        &-img {
            position: relative;
            left: -15px;
            top: -18px;
            width: 681px;
        }
    }
}