.wcl-block-4 {
    margin-top: 107px;
    margin-bottom: 150px;

    // &.mod-blue {
    //     background-color: $c-blue;
    // }

    // &.mod-orange {
    //     background-color: $c-orange;
    // }

    .data {
        &-inner {
            padding: 54px 61px 59px;
            border-radius: 85px;
            background: #FFF;
            box-shadow: 0px 10px 20px 0px rgba(0, 9, 51, 0.12), 0px 0px 8px 0px rgba(0, 9, 51, 0.05);
        }

        &-title {
            > * {
                font-family: $f-moranga;
                font-size: 32px;
                font-weight: 400;
                line-height: 37px;
                text-align: center;
                color: #214752;
                margin-bottom: 34px;
            }
        }

        &-container {
            max-width: 1644px;
        }

        &-list {
            display: flex;
            margin: 0 -58px;
        }

        &-item {
            width: 33.33%;
            padding: 0 58px;


            &:nth-child(2) {
                .data-item {
                    &-img {
                        position: relative;
                        left: -7px;
                        top: 6px;
                    }
                }
            }

            &:nth-child(3) {
                .data-item {
                    &-img {
                        position: relative;
                        left: 2px;
                        top: 6px;
                    }

                    &-text {
                        position: relative;
                        left: -20px;
                        top: 1px;
                    }
                }
            }

            &-inner {
                text-align: center;
                max-width: 406px;
                margin: 0 auto;
            }

            &-img {
                margin-bottom: 27px;
                height: 186px;
                display: flex;
                align-items: center;
                justify-content: center;

                &-inner {
                    position: relative;
                    display: inline-block;
                }

                img {
                    max-height: 186px;
                    object-fit: contain;
                }
            }

            &-index {
                background-color: #FF6B61;
                width: 90px;
                height: 90px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #F5F2F0;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 115%;
                position: absolute;
                right: -43px;
                bottom: -38px;
                filter: drop-shadow(0px 2px 4px rgba(0, 13, 76, 0.10));
            }

            &-title {
                 > * {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                    margin-bottom: 34px;
                    position: relative;
                    left: -6px;
                }
            }

            &-text {
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                position: relative;
                left: 23px;
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-list {
                margin: 0 -30px;
            }

            &-item {
                padding: 0 30px;

                &-title {
                     > * {
                        left: 0;
                    }
                }

                &-text {
                    left: 0;
                }
            }
        }
    }

    @media (max-width: 1150px) {
        .data {
            &-list {
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 40px;
            }

            &-item {
                width: 50%;
            }
        }
    }

    @media (max-width: 991px) {
        .data {
            &-item {
                width: 100%;
            }

            &-inner {
                max-width: 600px;
                padding: 54px 41px 55px;
                margin: 0 auto;
                border-radius: 50.316px;
                box-shadow: 0px 5.9195404052734375px 11.839080810546875px 0px rgba(0, 9, 51, 0.12), 0px 0px 4.735632419586182px 0px rgba(0, 9, 51, 0.05);
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 34px;
        margin-bottom: 74px;

        .data {
            &-list {
                margin: 0;
            }

            &-item {
                padding: 0;

                &:nth-child(3) {
                    .data-item {
                        &-text {
                            left: -2px;
                            top: 0;
                        }
                    }
                }
            }

            &-inner {
                max-width: 400px;
                padding: 28px 20px 55px;
            }
        }
    }

    @media (max-width: 575px) {
        .data {
            &-inner {
                max-width: 281px;
            }

            &-list {
                row-gap: 0;
            }

            &-item {
                margin-bottom: 55px;

                &:nth-child(2){
                    margin-bottom: 40px;
                    .data-item{
                        &-img{
                            top: 0;
                            margin-bottom: 37px;
                        }
                        &-title{
                             > *{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                &:nth-child(3){
                    .data-item{
                        &-img{
                            top: 0;
                            left: -2px;
                            margin-bottom: 36px;
                            img{
                                max-height: 63.339px;
                            }
                        }
                        &-title{
                             > *{
                                margin-bottom: 21px;
                                left: -2px;
                            }
                        }
                
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &-img {
                    height: auto;
                    position: relative;
                    left: -5px;
                    max-width: 169px;
                    margin: 0 auto;
                    margin-bottom: 16px;

                    img {
                        max-height: 110px;
                    }
                }

                &-title {

                     > * {
                        font-size: 14.207px;
                        font-weight: 700;
                        line-height: 115%;
                        left: -4px;
                        margin-bottom: 10px;
                    }
                }

                &-text {
                    font-size: 10.655px;
                    line-height: 137.5%;
                    left: -4px;
                }

                &-index {
                    width: 53.756px;
                    height: 53.756px;
                    font-size: 14.207px;
                    line-height: 115%;
                    filter: drop-shadow(0px 1.1839081048965454px 2.367816209793091px rgba(0, 13, 76, 0.10));
                    right: -23px;
                    bottom: -23px;
                }
            }
        }
    }
}