.wcl-block-14 {
    margin-top: 60px;
    margin-bottom: 75px;
    max-width: 768px;

    .b14 {
        &-inner {
            padding: 27px 29px 39px;
            background-color: #214752;
            position: relative;
            min-height: 153px;
        }

        &-logo {
            max-width: 144px;
            margin-bottom: 5px;
            position: relative;
            left: -13px;
        }

        &-row {
            display: flex;
            margin: 0 -18px;
        }

        &-col {
            padding: 0 18px;
            width: 100%;

            &:first-child {
                max-width: calc(100% - 268px);
            }

            &:last-child {
                max-width: 268px;
            }
        }

        &-img {
            position: absolute;
            right: 21px;
            top: 0;
            height: 100%;
            max-width: calc(40% - 18px);

            img {
                width: auto;
                max-height: 100%;
            }
        }
    }
}