.wcl-block-10 {
    margin-top: 225px;
    margin-bottom: 144px;

    .data {
        &-title {
            h2 {
                font-family: $f-moranga;
                color: #214752;
                font-size: 50px;
                font-weight: 400;
                line-height: 54px;
                text-align: center;
                margin-bottom: 94px;
                position: relative;
                left: -11px;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 40px;
            position: relative;
            left: -29px;
            max-width: 1006px;
            margin: 0 auto;

            &:not(.swiper-initialized) {
                .data-list-inner {
                    width: auto;
                    margin: 0 -44px;
                }

                .data-item {
                    padding: 0 44px;
                }
            }
        }

        &-item {
            width: auto;

            &-inner {
                width: 94px;
                height: 94px;
                border-radius: 100px;
                border: 2px solid #214752;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                &:hover {
                    border-color: $c-orange;

                    span {
                        &::before {
                            color: $c-orange;
                        }
                    }
                }

                span {
                    font-size: 37px;

                    &.icon-twitter {
                        font-size: 32px;
                    }

                    &.icon-youtube {
                        font-size: 28px;
                    }

                    &::before {
                        color: #214752;
                        transition: all 0.25s ease;
                    }
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-list {
                left: 0;
                overflow: visible;
            }
        }
    }

    @media (max-width: 1025px) {
        .data {
            &-title {
                h2 {
                    font-size: 38px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 98px;
        margin-bottom: 110px;

        .data {
            &-title {
                h2 {
                    font-size: 29.112px;
                    line-height: 31.441px;
                    max-width: 230px;
                    margin: 0 auto;
                    margin-bottom: 28px;
                }
            }

            &-list {
                &:not(.swiper-initialized) {
                    .data-list-inner {
                        margin: 0 -24px;
                    }

                    .data-item {
                        padding: 0 24px;
                    }
                }
            }

            &-item {
                &-inner {
                    width: 61.418px;
                    height: 61.418px;

                    span {
                        font-size: 27px;

                        &.icon-twitter {
                            font-size: 20px;
                        }

                        &.icon-youtube {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        .data {
            &-container{
                padding: 0 29px;
            }
            &-title {
                h2 {
                    left: -8px;
                }
            }
        }
    }
}