.wcl-block-9 {
    position: relative;
    margin-bottom: 100px;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 638px;
        width: 100%;
        height: 636px;
        background: linear-gradient(180deg, #D6E8EB 0%, rgba(214, 232, 235, 0.00) 87.50%);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 638px;
        background: linear-gradient(180deg, rgba(245, 242, 240, 0.07) 16.15%, #D6E8EB 100%);
        z-index: -1;
    }

    .data {
        &-container {
            position: relative;
            z-index: 2;
            max-width: 1709px;
        }

        &-title {
             > * {
                color: #214752;
                font-family: $f-moranga;
                font-size: 83px;
                font-weight: 400;
                line-height: 95px;
                text-align: center;
                max-width: 1358px;
                margin: 0 auto;
                margin-bottom: 87px;
                position: relative;
                left: -28px;
            }

            strong {
                font-weight: 900;
            }
        }

        &-line {
            background-color: #214752;
            height: 1px;
            max-width: 596px;
            margin: 0 auto;
            margin-bottom: 103px;
            position: relative;
            left: -67px;
        }

        &-row {
            display: flex;
            margin: 0 -25px;
        }

        &-col {
            width: 50%;
            padding: 0 25px;

            &:first-child {
                margin-top: 113px;
            }

            &:nth-child(2) {
                width: 53.1%;
                flex-shrink: 0;
            }
        }

        &-a {
            &-title {
                 > * {
                    color: #0F2E33;
                    font-family: $f-moranga;
                    font-size: 36.3px;
                    font-weight: 400;
                    line-height: 50px;
                    margin-bottom: 29px;
                }
            }

            &-text {
                color: #0F2E33;
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                max-width: 578px;
            }
        }

        &-img {
            position: relative;
            left: 55px;
            max-width: 836px;
        }
    }

    @media (max-width: 1400px) {
        .data {
            &-title {
                 > * {
                    left: 0;
                    max-width: 1000px;
                    font-size: 63px;
                    line-height: 115%;
                    margin-bottom: 67px;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-row {
                align-items: center;
            }

            &-col {
                &:first-child {
                    margin-top: 0;
                }
            }

            &-title {
                 > * {
                    max-width: 710px;
                    font-size: 45px;
                    margin-bottom: 51px;
                }
            }

            &-line {
                max-width: 260px;
                margin-bottom: 93px;
                left: 0;
            }
        }
    }

    @media (max-width: 1025px) {
        .data {
            &-row {
                flex-direction: column-reverse;
                row-gap: 40px;
                max-width: 640px;
                margin: 0 auto;
            }

            &-col {
                width: 100% !important;

                &:first-child {
                    max-width: 500px;
                }
            }

            &-img {
                left: 0;
            }
        }
    }

    @media (max-width: 767px) {
        .data {
            &-title {
                 > * {
                    font-size: 53.601px;
                    line-height: 115%;
                }
            }

            &-line {
                max-width: 168px;
            }
        }
    }

    @media (max-width: 575px) {

        &::after {
            background: linear-gradient(180deg, rgba(245, 242, 240, 0.07) 16.15%, #D6E8EB 100%);
            width: 528px;
            height: 548px;
            left: 0;
            min-width: 100%;
        }

        &::before {
            background: linear-gradient(180deg, #D6E8EB 0%, rgba(214, 232, 235, 0.00) 87.50%);
            width: 412px;
            height: 756px;
            left: 0;
            top: 548px;
            min-width: 100%;
        }

        .data {
            &-title {
                left: 3px;

                 > * {
                    margin-bottom: 43px;
                }
            }

            &-row {
                row-gap: 39px;
            }

            &-col {
                padding: 0;
            }

            &-line {
                margin-bottom: 70px;
            }

            &-img {
                max-width: 307px;
                margin: 0 auto;
            }

            &-a {
                &-title {
                     > * {
                        line-height: 43.288px;
                        margin-right: -10px;
                        margin-bottom: 19px;
                        position: relative;
                        left: -2px;
                    }
                }
            }
        }
    }
}