.wcl-block-7 {
    padding-top: 152px;
    padding-bottom: 159px;
    background-color: #F5F2F0;

    .data {
        &-container {
            max-width: 1760px;
            padding: 0 80px;
        }

        &-head {
            position: relative;
            margin: 0 auto;

            color: #214752;
            font-size: 22px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            max-width: 1185px;
            margin: 0 auto;
            position: relative;
            left: -13px;

            a {
                color: #214752;
            }

            p {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(4) {
                    font-size: 24px;
                    margin-top: 18px;
                }
            }

            .wcl-acf-heading-clear,
            h1,
            h2,
            h3 {
                position: relative;
                left: -13px;
                font-family: $f-moranga;
                color: #214752;
                font-size: 32px;
                font-weight: 400;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 52px;
            margin: 0 -80px;
            margin-top: 94px;
        }

        &-item {
            padding: 0 40px;
            width: 25%;

            &-inner {
                text-align: center;
            }


            &-head {
                color: #214752;
                font-size: 18px;
                font-weight: 500;
                line-height: 25px;
                text-align: center;

                .wcl-acf-heading-clear,
                h1,
                h2,
                h3 {
                    font-size: 24px;
                    color: #214752;
                    font-weight: 700;
                    line-height: 28px;
                    margin-bottom: 31px;

                    a {
                        color: #214752;
                        padding-bottom: 2px;
                        display: inline-block;
                        position: relative;

                        &:hover {
                            color: $c-orange;
                            text-decoration: none;
                        }
                    }
                }
            }

            &-icon {
                width: 161px;
                height: 161px;
                margin: 0 auto;
                border-radius: 100%;
                background-color: $c-white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 67px;
                margin-bottom: 31px;

                img {
                    max-width: calc(100% - 20px);
                    max-height: calc(100% - 20px);
                    width: auto;
                }
            }
        }
    }

    @media (max-width: 1650px) {
        .data {
            &-item {
                width: 33.33%;
            }
        }
    }

    @media (max-width: 1199px) {
        .data {
            &-head {
                left: 0;
            }

            &-item {
                width: 50%;
            }

        }
    }

    @media (max-width: 1025px) {
        padding-top: 110px;

        .data {
            &-container {
                padding: 0 40px;
            }

            &-list {
                margin: 0 auto;
                margin-top: 94px;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 59px;
        padding-bottom: 79px;

        .data {
            &-container {
                padding: 0 30px;
            }


            &-head {
                line-height: 137.5%;
                max-width: 430px;

                .wcl-acf-heading-clear,
                h1,
                h2,
                h3 {
                    line-height: 115%;
                    max-width: 310px;
                    margin: 0 auto;
                    margin-bottom: 32px;
                }
            }

            &-list {
                max-width: 360px;
                margin-top: 59px;
                row-gap: 47px;
            }

            &-item {
                width: 100%;
                padding: 0;

                &-head {
                    font-size: 16.503px;
                    line-height: 137.5%;

                    .wcl-acf-heading-clear,
                    h1,
                    h2,
                    h3 {
                        font-size: 22.004px;
                        line-height: 115%;
                        margin-bottom: 29px;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {
        padding-top: 49px;

        .data {
            &-head {
                max-width: 306px;
                margin: 0 auto;
                left: 6px;

                >* {
                    margin-bottom: 32px;
                }

                p {
                    &:nth-child(1) {
                        margin-bottom: 15px;
                    }

                    &:nth-child(4) {
                        max-width: 280px;
                        margin: 0 auto;
                        margin-top: 15px;
                        line-height: 137.5%;
                    }
                }

                .wcl-acf-heading-clear,
                h1,
                h2,
                h3 {
                    left: 4px;

                }
            }

            &-list {
                margin-top: 65px;
            }

            &-item {
                &-icon {
                    width: 147.607px;
                    height: 147.607px;
                }

                &-head {
                    max-width: 266px;
                    margin: 0 auto;

                    .wcl-acf-heading-clear,
                    h1,
                    h2,
                    h3 {
                        margin: 0 -8px;
                        margin-bottom: 26px;
                    }
                }
            }
        }
    }
}