* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
}
html.overflow-hidden,
body.overflow-hidden {
    overflow: hidden;
}
img,
svg {
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
}

p,
ul,
ol {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}

input,
textarea {
    border-radius: 0; // Prevent IOS add border-radius by default to all input elements
}

a {
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.wcl-body-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between
}

.wcl-section {
    position: relative;
}

.wcl-container {
    width: 100%;
    // max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 40px;
    // padding-right: 40px;
}









h1, .wcl-h1,
h2, .wcl-h2,
h3, .wcl-h3,
h4, .wcl-h4,
h5, .wcl-h5,
h6, .wcl-h6 {
    font-weight: bold;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 20px;
}
h1, .wcl-h1 {
    font-size: 42px;
}
h2, .wcl-h2 {
    font-size: 34px;
}
h3, .wcl-h3 {
    font-size: 30px;
}
h4, .wcl-h4 {
    font-size: 28px;
}
h5, .wcl-h5 {
    font-size: 24px;
}
h6, .wcl-h6 {
    font-size: 22px;
}




strong,
b {
    font-weight: bold;
}
em {
    font-style: italic;
}
a {
    // STYLES OF ALL LINKS GOES HERE
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
ul, ol {
    padding-left: 20px;
}





/*
* Responsive Design
*/
@media only screen and (max-width: 768px) {
    
    .wcl-container {
        // padding-left: 20px;
        // padding-right: 20px;
    }

}