
/* 
==============================================
    CONTENT OF THE FILE
==============================================

    1. Buttons
    2. Form Elements
    ...

*/



/* 
* 1. Buttons
*/
.wcl-button-wrapper {

    .wcl-button {
        display: inline-block; 
        cursor: pointer;
        outline: 0;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

}





/* 
* 2. Form Elements
*/
.wcl-form-wrapper {

    input {

    }

    textarea {
        
    }

}