.wcl-link {}


/* 
wcl-button
 */
.wcl-button {
    display: inline-flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    padding: 3px 31px;
    background-color: #FF6B61;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #F5F2F0;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.25s ease;

    &:hover {
        background-color: transparent;
        color: $c-orange;
        border-color: $c-orange;
    }

    &.mod-border {
        background-color: transparent;
        border-color: $c-orange;
        color: $c-orange;

        &:hover {
            color: $c-orange;
            background-color: $c-white;

            span {
                &::before {
                    color: $c-orange;
                }
            }
        }

        span {
            margin-left: 16px;

            &::before {
                color: $c-orange;
                transition: all 0.25s ease;
            }
        }
    }
}


.wcl-link {
    color: #FF6B61;
    font-weight: 600;
    line-height: 137.5%;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #FF6B61;
        width: 100%;
        height: 1px;
    }
}