
.wcl-related-posts {
    background-color: #F5F2F0;
    padding: 73px 0 91px;

    .data {
        &-title {
            color: #214752;
            text-align: center;
            // font-family: $f-abhaya-libre;
            // font-weight: 800;
            font-size: 32px;
            font-family: $f-moranga;
            font-weight: 600;
            line-height: 115%;
            margin-bottom: 45px;

            span {
                font-family: $f-timmana;
                font-weight: 400;
            }
        }

        &-list {
            &:not(.swiper-initialized) {
                .data-item {
                    width: 33.33%;
                    width: 354px;
                    margin-right: 68px;
                }
            }

            &-out {
                position: relative;
            }

            &-nav {
                &-btn {
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    min-width: 20px;
                    min-height: 20px;
                    padding: 10px;
                    cursor: pointer;
                    z-index: 1;
                    transition: all 0.2s ease;
                    font-size: 50px;

                    span {
                        &::before {
                            color: $c-white;
                        }
                    }

                    &.swiper-button-disabled {
                        pointer-events: none;
                    }

                    &.mod-prev {
                        left: -128px;
                        transform: translate(0, -50%);

                        span {
                            transform: scale(-1, 1);
                            display: block;
                        }
                    }

                    &.mod-next {
                        right: -128px;
                    }
                }
            }
        }

        &-item {
            &-inner {
                height: 196px;
                background: #D9D9D9;
                display: block;
            }

            &-img {
                img {
                    height: 196px;
                    object-fit: cover;
                }
            }
        }
    }
}

